.app {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 0 auto;
    min-height: 100vh;
    background-color: white;
    &__title {
        flex-basis: 16vh;
        text-align: center;
        line-height: 16vh;
        font-size: 5rem;
        // background-color: #222;
        color: #64d9ce;
        text-shadow: 0 0 2px black;
    }
    &__nav {
        flex-basis: 8vh;
        line-height: 8vh;
        display: flex;
        justify-content: space-between;
        margin: 4% 50px;
        // border-top: 2px solid black;
        // border-bottom: 2px solid black;
        // background-color: #444;
    }
    &__bookList {
        flex-grow: 1;
        // background-color: #666;
    }
    &__footer {
        flex-basis: 5vh;
        text-align: center;
        line-height: 5vh;
        font-size: 1.2rem;
        font-weight: bold;
        background-color: #64d9ce;
        color: white;
    }
}

@import 'navigation';
@import 'button';
